<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>name</title>
        <link type="text/css" rel="stylesheet" href="/css/additional.css" />
        <link type="text/css" rel="stylesheet" href="/css/style.css" />
        <link type="text/css" rel="stylesheet" href="/css/style_create.css" />
    </head>
    <body>
        <div id="con">
            <label for="name" style="max-width: 50ch;font-size: x-large;
                margin: 2rem 2rem;
            ">
                write your comment about <%= locals.name %> . Your identity will be kept. So
                use your chance🥰🥰
            </label>
            <form action="/comment" method="post">
                <div
                    id="name-field"
                    style="
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    "
                >
                    <textarea
                        name="text"
                        rows="10"
                        placeholder="write here"
                        cols="40"
                    ></textarea>
                </div>
                <input type="text" style="display: none;" value="<%= locals.id %>" name="id">
                <button type="submit" class="fill">Send To<%= locals.name %> </button>
            </form>
        </div>
    </body>
</html>
