*{
    margin: 0;
    padding: 0;
    color: #ffffff;
}

html{
    background-image: url('https://picsum.photos/500/500');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(0,rgba(0,0,0,.6),rgba(0,0,0,.6));
}

#con{
    max-width: 900px;
    display: flex;
    flex-direction: column;
}

.btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    background-color: black;
}

.text{
    font-weight: 100;
    font-size: 1.6rem;
}


.disc{
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}
